@model dynamic

@{
    ViewBag.Title = "AddSkill";
    Layout = "_AdminLayout";
}

<h1>Add Skill</h1>

<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Ekleme Sayfasi</h3>
</div>
<form class="form-group" method="post">
    <br>
    <label> Yetenek Basligi</label>
    <input type="text" name="Title">
    <br/>
    <label>Deger</label>
    <input type="text" name="Value">
    <br/>
    <button class="btn btn-primary">Kaydet</button>

</form>

